/**
 * Layout using vgrid.
 * 1. General layout
 * 2. Header layout
 * 3. breadcrumb
 * 4. Navbar
 * 5. Flash
 * 6. Flashmessage layout
 * 7. main, and sidebar layout
 * 8. Links
 * 9. Dv. elements
 * 10. Footer layout
 */

/**
 * Variables
 */


/**
 * 1. General layout
 */
.row {
    #desinax-vgrid.row();

    //background-color: #0f0;
    //margin-bottom: 12px;
}

.inner-wrap {
    #desinax-vgrid.grid(1100px);
    //background-color: #dfc7bb;
}

/**
 * 2. Header layout
 */
.outer-wrap-header {
    padding-top: 5px;
    //padding-bottom: 5px;
    background-color: #dfc7bb;
    padding-left: 1em;
}

.inner-wrap-header {
    #desinax-vgrid.grid(100%);
    // max-width: 100%;
}

.site-logo {
    display: none;
}

.site-logo-text {
    font-family: "Times New Roman",Times,serif;
    font-variant: small-caps;
    font-size: 2.5em;
    //#desinax-vgrid.push(0.5);
}

.vgrid .inner-wrap {
    @gridImage: "../img/grid_24x30x10-nomargin.png";
    //@gridImage: "../../img/grid_12x60x20-nomargin.png";
    #desinax-vgrid.showGrid(@gridImage, 1100px);

    &.inner-wrap-header {
        #desinax-vgrid.showGrid(@gridImage);
    }
}

.region-header-col-1 {
    #desinax-vgrid.column(5);
}

.region-header-col-2 {
    #desinax-vgrid.column(15);
    text-align: center;
}

.region-header-col-3 {
    #desinax-vgrid.column(4);
}

/**
 * 3. breadcrumb
 */
.region-breadcrumb {
    #desinax-vgrid.column(@columns);
    background-color: #e5dbdb;
    margin-top: -7px;
}

.breadcrumb-list {
    padding-left: 1.5em;
}
/**
 * 4. Navbar
 */
.rm-navbar li {
    font-size: 18px;
}

.rm-navbar li a:link {
    color: #990000;
    text-shadow: 1px 1px #fff;
    text-decoration: none;
}

.rm-navbar li a:visited {
    color: #990000;
    text-decoration: none;
}

.rm-navbar li a:hover {
    text-shadow: 1px 1px 0.5px #500;
    color: #f2f2f2;
    text-decoration: none;
}

.rm-navbar li a:active {
    color: gray;
    text-shadow: #000;
}

.rm-max .rm-small .rm-button.rm-clicked {
    right: 35px;
}

/**
 * 5. Flash
 */
.region-flash {
    #desinax-vgrid.column(@columns);
    margin-bottom: -7px;
}

.outer-wrap-flash {
    margin-bottom: -7px;
}

/**
 * 6. Flashmessage layout
 */
.flashmessage-icon {
    float: left;
    padding-right: 1.5em;
}

.inner-wrap-flash-message {
    background-color: #e5dbdb;
}

.region-flash-message {
    display: inline-block;
    font-size: 0.8em;
    font-style: italic;
     padding-left: 20px;
}

.region-flash-message p {
    width: 300px;
}

/**
 * 7. main, and sidebar layout
 */
.region-main {
    #desinax-vgrid.column(@columns * 3 / 4);
    #desinax-vgrid.push(3);
    margin-bottom: 2 * @magicNumber;

    &.has-sidebar {
    #desinax-vgrid.push(0);
    }

    &.has-sidebar-right {
    //#desinax-vgrid.column(@columns * 3 / 4 - 1);
    #desinax-vgrid.column(@columns * 3 / 4);
    }

    &.has-sidebar-left.has-sidebar-right {
    #desinax-vgrid.column(@columns * 3 / 4 - 4.5);
    }
}

.inner-wrap-main {
    background-color: #e5dbdb;
    padding-top: 24px;
    padding-bottom: 48px;
}

.region-sidebar-left,
.region-sidebar-right {
    #desinax-vgrid.column(@columns * 1 / 4);
    //background-color: #f1efef;
}

.region-sidebar-right {
    //#desinax-vgrid.push(1);
    //#desinax-vgrid.push(0.5);
}

.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
    #desinax-vgrid.column(@columns * 1 / 4 - 1);
}

/**
 * 8. Links
 */
a:link {
color: #4d4d00;
text-shadow: 1px 1px #fff;
//padding-right: 3px;
text-decoration: none;
font-style: Verdana,"Geneva",sans-serif;
}

a:visited {
  text-decoration: none;
      color: #4d4d00;
}

a:hover {
 color: #e35f1e;
  text-shadow: 1px 1px 0.2px #500;
  //color: #f1efef;
}

a:active {
  color: gray;
   text-shadow: #000;
}

/**
 * 9. Dv. elements
 */
.article {
    //background-color: #f1efef;
    padding: 1px 1.5em;
    // overflow: auto;
}


.figure.right {
    //max-width: 100%;
    // margin-left: 10px;
    // display: block;
    // float: right;
}

.figure.left {
    // float: left;
}

.block {
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 2 * @magicNumber;
}

.stylechooser {
    padding-top: 30px;
    padding-bottom: 70px;
}


fieldset {
    border-style: rmidge;
    border-width: 2px;
    border-color: #dfc7bb;
}

button, input, optgroup, select, textarea {
    color: #500;
    background-color: #d2ccc6;
    width: 99%;
}

.next {
    text-align: end;
    margin-left: 1.5em;
    margin-right: 1.5em;
    border-bottom: #d2ccc6 solid 1px;
}

.previous {
    margin-left: 1.5em;
    margin-right: 1.5em
}

code {
    background-color: inherit;
    border: none;
}

/**
* 10. Footer layout
*/
.outer-wrap-footer {
    border-top-style: ridge;
    border-top-color: #dfc7bb;
}

.outer-wrap-footer,
.inner-wrap-footer {
    //color: #f2f2f2;
    background-color: #d2ccc6; //#c8b4a4;
    // padding-bottom: 40px;
    // .clearfix();
}

.footer-column {
    #desinax-vgrid.column(@columns / 3);
    color: #500;
}

.site-footer {
    #desinax-vgrid.column(@columns);
    text-align: center;
    // padding-bottom: 24px;
}
